<%= form_with(model: [@post, Comment.new], local: true, remote: true, url: user_post_comments_path(@post.author, @post), class: "h-5/6") do |form| %>
  <%= form.hidden_field :post_id, value: @post.id %>

  <div class="h-full flex flex-col text-left">
    <div class="my-4">
      <%= form.label :text, "Message", class: "block text-white text-sm font-bold mb-2" %>
      <%= form.text_area :text, class: "w-full border rounded py-2 px-3 text-gray-500 leading-tight focus:outline-none focus:border-blue-500", rows: 4 %>
    </div>
    <div class="my-8 px-8 flex items-center justify-between gap-4">
      <%= form.submit "Add Comment", class: "flex-1 z-50 cursor-pointer bg-green-800 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
                  <button data-action="click->comment-modal#closeModal" class="flex-1 z-50 cursor-pointer bg-red-800 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
         Cancel
        </button>
    </div>
  </div>
<% end %>
