<h1><%= @user.name %></h1>
<p>Number of posts: <%= @user.posts.count %></p>

<div class="user-bio">
  <h2>Bio</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In odit laudantium maiores deleniti sequi id repudiandae perferendis. Odio molestias hic animi voluptate quae, maiores esse excepturi obcaecati illo totam minus!
  Labore velit veniam perferendis repellendus minima nostrum aliquam recusandae pariatur praesentium, quaerat sunt blanditiis suscipit delectus commodi nemo possimus?
  Aliquam, iste eum delectus nesciunt cum atque ex possimus expedita dicta assumenda quasi error earum reiciendis, numquam architecto! Velit molestiae eveniet tempore officiis quos voluptates temporibus adipisci ea quas sunt?
  Odit sunt doloremque labore atque culpa voluptate nemo qui, eveniet molestias neque dolorum aut provident eaque libero nostrum blanditiis optio. Minima aut fugit velit nulla inventore qui doloribus id vitae!</p>
</div>

<div class="user-posts">
  <% @user.posts.each do |post| %>
    <div class="post">
      <h3>Post#<%= post.id %></h3>
      <p><%= post.text %></p>
            <p class="post-meta">
        Likes: <%= post.likes_counter.nil? ? 0 : post.likes_counter %>
        Comments: <%= post.comments_counter.nil? ? 0 : post.comments_counter %>
      </p>
    </div>
  <% end %>

  <div class="see-all-posts">
  <%= link_to "See All Posts", user_posts_path(@user) %>
</div>
</div>
