<div class="containter flex flex-col w-4/5 mx-auto my-8">
<div class="user-details">
  <%= render partial: 'users/user_info', locals: { user: @user } %>
  </div>
<div class="user-bio mx-auto my-8 flex flex-col items-center p-4 bg-stone-600 rounded-xl border border-stone-700">
<h2 class="bio-heading mb-8 text-white"><%= t(:bio) %></h2>
  <p class="bio-text text-justify font-semibold text-white">
       <%= @user.bio %>
   </p>
  </div>

<div class="user-posts">
<% @user.posts.recent_posts(3).each do |post| %>
    <%= render partial: 'posts/post_item', locals: { post: post, user: @user } %>
  <% end %>

  <div class="see-all-posts mt-6 text-center">
<%= link_to t(:see_all_posts), user_posts_path(@user), class: "bg-gradient-to-r from-green-500 to-green-700 text-white py-2 px-4 rounded-lg shadow-md hover:shadow-lg transform transition hover:scale-105 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-50 hover:no-underline font-semibold" %>
  </div>
</div>

