<div class="post mb-4 p-4 border border-black">
  <h3><%= link_to "Post ##{post.id}", user_post_path(@user, post) %></h3>
  <p><%= post.text %></p>
  <p class="post-meta flex justify-end items-end">
<span class="likes-count mr-2"><%= t(:likes) %>: <%= post.likes_counter.presence || 0 %></span>
<span class="comments-count mr-2"><%= t(:comments) %>: <%= post.comments.count %></span>
  </p>
</div>
