<div class="containter">
<div class="user-details">
  <%= render partial: 'users/user_info', locals: { user: @user } %>
  </div>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to "Post ##{post.id}", user_post_path(@user, post) %></h2>
    <p class="post-text"><%= post.text %></p>
    <p class="post-meta">
    Likes: <%= post.likes_counter.presence || 0 %>
            Comments: <%= post.comments.count %>
    </p>
<div class="comments-plain">
          <ul>
          <% if post.comments.any? %>
            <% post.comments.limit(5).each do |comment| %>
              <li><strong><%= comment.author.name %>:</strong> <%= comment.text %></li>
            <% end %>
          <% else %>
            <li>No comments yet</li>
          <% end %>
        </ul>
    </div>
  </div>
<% end %>
</div>
