<div class="post-details-container w-4/5 mx-auto border border-black p-4 text-center">
  <div class="post-details-header flex justify-between items-center">
    <h1 class="post-title"><%= t(:post_title, id: @post.id, name: @user.name) %></h1>
    <p class="post-counts">
      <%= t(:likes) %>: <%= @post.likes_counter.presence || 0 %>
      <%= t(:comments) %>: <%= @post.comments.count %>
    </p>
  </div>

  <div class="post-content mt-4">
    <p><%= @post.text %></p>
  </div>
</div>

<div class="comments border border-black p-4 w-4/5 mx-auto">
  <ul class="list-none">
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.author.name %>:</strong>
          <%= comment.text %>
        </li>
      <% end %>
    <% else %>
      <li><%= t(:no_comments_yet) %></li>
    <% end %>
  </ul>
</div>
