<div class="post-details-container w-4/5 mx-auto border border-black p-4">
  <div class="post-details-header flex justify-between items-center">
    <h1 class="post-title text-2xl text-black"><%= t(:post_title, id: @post.id, name: @user.name) %></h1>
    <p class="post-counts">
      <%= t(:likes) %>: <%= @post.likes_counter.presence || 0 %>
      <%= t(:comments) %>: <%= @post.comments.count %>
    </p>
  </div>

  <div class="post-content mt-4 text-center">
    <p><%= @post.text %></p>
  </div>
    <%= render partial: 'comments', locals: { comments: @post.comments } %>
</div>
