<div class="post-details-container">
  <div class="post-details-header">
    <h1 class="post-title">Post #<%= @post.id %> by <%= @user.name %></h1>
    <p class="post-counts">
      Likes: <%= @post.likes_counter.presence || 0 %>
      Comments: <%= @post.comments.count %>
    </p>
  </div>

  <div class="post-content">
    <p><%= @post.text %></p>
  </div>
</div>

<div class="comments">
  <ul>
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.author.name %>:</strong>
          <%= comment.text %>
        </li>
      <% end %>
    <% else %>
      <li>No comments yet</li>
    <% end %>
  </ul>
</div>
