<!DOCTYPE html>
<html>
  <head>
    <title>IdeaChronicler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application' %>
    <%= javascript_importmap_tags %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
      </head>

<body class="min-h-screen bg-cover bg-fixed bg-center bg-no-repeat bg-background-image">
<% flash.each do |key, message| %>
  <div class="p-4 flex flex-col items-center my-4 rounded-lg
              <% case key.to_s %>
                <% when 'success' %>
                  bg-green-500 text-white
                <% when 'error' %>
                  bg-red-500 text-white
                <% else %>
                  bg-gray-300 text-gray-700
              <% end %>">
    <%= message %>
  </div>
<% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
